// Custom Variables

// Fonts
//      Hero
$font-family-base: 'Roboto', sans-serif;
$font-size-hero: 16px;
$font-line-height-hero: 19px;
$icon-font-size: 20px;
//      Footer
$font-footer: 'Open Sans', sans-serif;
$font-size-footer: 14px;
$font-line-height-footer: 19px;

// Colors
$text: white;